version: '3.8'
services:
  mysql:
    image: mysql:8
    container_name: mysql-reservation
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ReservationVoyage
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  postgres:
    image: postgres:16
    container_name: postgres-reservation
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: reservation_voyage
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  mysql_data:
  pg_data:

networks:
  default:
    name: migration-network